<p>Menu de herramientas</p>

<button (click)="showFiller = !showFiller" mat-raised-button class="p-1">
  <mat-icon>{{ showFiller ? 'remove' : 'add' }}</mat-icon> 
  Herramientas
</button>

@if (showFiller) {
  <div>
    <ul>
      <a routerLink="home" mat-list-item mat-button>Inicio</a>
      <a routerLink="/dashboard/courses" mat-list-item mat-button>Cursos</a>
      <a routerLink="/dashboard/users" mat-list-item mat-button>Usuarios</a>
    </ul>
  </div>

}

<a routerLink="/auth" mat-list-item mat-button>Cerrar sesion</a>