  mat-nav-list {
    a {
      display: flex;
      width: 100%; 
      margin-bottom: 10px; 
    }
  
    button {
      width: 100%; // Asegura que los botones ocupen todo el ancho del contenedor
    }
  }  