<p>Menu de herramientas</p>

<mat-nav-list>
  <a >
    <button tamaño='20px'appFontPlusTwenty routerLink="home" mat-button>Inicio</button>
  </a>
  <a>
    <button tamaño='20px'appFontPlusTwenty routerLink="/dashboard/courses" mat-button>Cursos</button>
  </a>
  <a>
    <button tamaño='20px'appFontPlusTwenty routerLink="/dashboard/clases" mat-button>Clases</button>
  </a>
  <a>
    <button tamaño='20px'appFontPlusTwenty routerLink="/dashboard/users" mat-button>Usuarios</button>
  </a>
</mat-nav-list>

<a routerLink="/auth" (click)="logout()" mat-button>Cerrar sesion</a>