<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-side-menu></app-side-menu>
    </mat-drawer>
  
    <div class="example-sidenav-content" role="heading">
        <mat-toolbar>
            <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span> <mat-icon>home</mat-icon>student registration application</span>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>