<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Menu de herramientas</p>
      @if (showFiller) {
        <div>
          <p>en esta seccion deberian ir herramientas</p>
        </div>
      }
      <button (click)="showFiller = !showFiller" mat-raised-button>
        <mat-icon>add-outline</mat-icon> Herramientas
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content" role="heading">
        <mat-toolbar>
            <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span> <mat-icon>home</mat-icon>student registration application</span>
        </mat-toolbar>

        <app-users></app-users>
    </div>
  
  </mat-drawer-container>