

<div>
    <h3 tamaño='30px'appFontPlusTwenty class="p-3">Herramientas:</h3>
    <ul class="p-2">
        <a mat-fab extended routerLink="/dashboard/courses" tamaño='20px'appFontPlusTwenty mat-list-item class="p-2, m-3">Cursos</a>
        <a mat-fab extended routerLink="/dashboard/clases" tamaño='20px'appFontPlusTwenty mat-list-item class="p-2, m-3">Clases</a>
        <a mat-fab extended routerLink="/dashboard/users" tamaño='20px'appFontPlusTwenty mat-list-item class="p-2, m-3">Usuarios</a>
    </ul>
</div>
