.home-style-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    td,button{
        &:hover {
            background-color: #00FFFF;
            color:black;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          }
    }
  
}