
<div *ngIf="isLoading">
  <p>Cargando, por favor espere...</p>
</div>
  
<div *ngIf="!isLoading && user">
  <button mat-fab (click)="goBack()" class="m-2"><mat-icon>undo</mat-icon></button>
  <mat-card appearance="outlined">
    <mat-card-title>
      <h2>Detalle del usuario: {{ user | fullName }}</h2>
    </mat-card-title>
    <mat-card-content>
      <ul>
        <li>Mail: {{ user.gmail }}</li>
        <li>Curso: {{ getCourseName(user.curso)}}</li>
      </ul>
    </mat-card-content>
  </mat-card>

<div *ngIf="!isLoading && !user" class="error-message">
  <p>Usuario no encontrado o hubo un error al cargar los detalles.</p>
</div>