
<div *ngIf="isLoading">
  <p>Cargando, por favor espere...</p>
</div>
  
<div *ngIf="!isLoading && user">
  <button mat-fab (click)="goBack()" class="m-2"><mat-icon>undo</mat-icon></button>
  <mat-card appearance="outlined">
    <mat-card-title>
      <h2>Detalle del usuario: {{ user | fullName }}</h2>
    </mat-card-title>
    <mat-card-content>
      <ul>
        <li>Gmail: {{ user.gmail }}</li>
      </ul>
    </mat-card-content>
    <mat-card-content >
      <ul>
        <li *ngIf="(authUser$ | async)?.role === 'admin'">Contraseña: {{user.password}}</li>
        <li *ngIf="(authUser$ | async)?.role === 'admin'">rol: {{user.role}}</li>
        <li *ngIf="(authUser$ | async)?.role === 'admin'">ID: {{user.id}}</li>
        <li *ngIf="(authUser$ | async)?.role === 'admin'">Fecha de aparicion: {{user.createdAt}}</li>
      </ul>
    </mat-card-content>
  </mat-card>

<div *ngIf="!isLoading && !user" class="error-message">
  <p>Usuario no encontrado o hubo un error al cargar los detalles.</p>
</div>