 <h2 tamaño='20px'appFontPlusTwenty class="p-3">Lista de usuarios:</h2>

<button mat-button (click)="openModal()">
  <mat-icon>
    add
  </mat-icon>
  Crear usuario
</button>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th tamaño='20px'appFontPlusTwenty mat-header-cell *matHeaderCellDef> No.Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="primerNombre">
    <th tamaño='20px'appFontPlusTwenty mat-header-cell *matHeaderCellDef> alumno </th>
    <td mat-cell *matCellDef="let element"> {{element | fullName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="gmail">
    <th tamaño='20px'appFontPlusTwenty mat-header-cell *matHeaderCellDef> Gmail </th>
    <td mat-cell *matCellDef="let element"> {{element.gmail}} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th tamaño='20px'appFontPlusTwenty mat-header-cell *matHeaderCellDef> Fecha de inscripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
  </ng-container>

  <ng-container matColumnDef="curso">
    <th tamaño='20px'appFontPlusTwenty mat-header-cell *matHeaderCellDef> Curso </th>
    <td mat-cell *matCellDef="let element">{{ getCourseName(element.curso) }}</td>
  </ng-container>

  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <th tamaño='20px'appFontPlusTwenty mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="goToDetail(element.id)" mat-icon-button>
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon (click)="openModal(element)">edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon (click)="onDelete(element.id)">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
